html{
    background: #fafafa;
    cursor: default;
    font-family: "Open Sans", sans-serif;
}
::selection {
    background: #ccddff;
}
::-moz-selection{
    background: #ccddff;
}
body{
    text-align: center;
}
.noselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#header{
    font-size: 40px;
}
.alertify-logs{
    z-index: 9996;
}
#cl{
    color: #5589ff;
    cursor: pointer;
}
button{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #bbb;
    margin-right: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 2px;
    transition: all 0.2s;
}
button:focus{
    border-color: #888;
    outline: none;
}
button:hover{
    border-color: #888;
}
button:active{
    border-color: #555;
}
button[disabled]{
    background-color: rgba(235, 240, 255, 0.5);
    color: black;
    cursor: default;
}
a{text-decoration: none}

#footer{
    color: #5589ff;
}
.footer-action:hover{
    text-decoration: underline;
    cursor: pointer;
}
.lgspace{
    display: inline-block;
    width: 25px;
}

.alertify .alert>*, .alertify .dialog>*{
    width: 75% !important;
    max-width: 700px;
}
#frame{
    width: 405px;
    border: none;
    height: 470px;
}