html{
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
h1{
  position: fixed;
  width: 100%;
  text-align: center;
  top: calc(50% - 380px);
  line-height: 1.0;
}
h1 a, .blue{
  text-decoration: none;
  color: #0062ff;
}
h1 a:hover, .blue:hover{
  color: #156fff;
  cursor: pointer;
  text-decoration: underline;
}
#p, .p{
  position: fixed;
  width: 100%;
  text-align: center;
  top: calc(50% + 240px);
}
#vid{
  position: fixed;
  left: calc(50% - 320px);
  top: calc(50% - 240px);
}
#load{
  color: white;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 45%;
  font-size: 24px;
  text-shadow: 0px 0px 8px black;
}

#vidoverlay{
  position: fixed;
  left: calc(50% - 320px);
  top: calc(50% - 240px);
  width: 640px;
  height: 480px;
  color: transparent;
}

#noAudio_notice{
  display: none;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #333;
}
