html{
  background: #222;
  font-family: 'Open Sans', sans-serif;
}
#vid{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.75s;
}
#btn{
  left: calc(50% - 80px);
  top: calc(40% - 30px);
  border: 1px solid white;
  width: 160px;
  height: 60px;
  font-size: 24px;
}
#lnk{
  left: calc(50% - 64px);
  top: calc(40% + 60px);
  border: none;
  width: 128px;
  height: 40px;
  font-size: 18px;
}
button{
  position: fixed;
  transition: opacity 0.75s;
  background: transparent;
  color: white;
  transition: all 0.4s;
  outline: none;
}
button:hover, button:focus{
  background: #333;
  cursor: pointer;
  border-color: #dfe4ff;
  color: #dfe4ff;
  transform: scale(1.2);
}
button:active{
  background: #444;
  border-color: #d5ffe0;
  color: #d5ffe0;
}

#visits{
  position: fixed;
  color: white;
  text-align: center;
  width: 600px;
  left: calc(50% - 300px);
  top: calc(40% - 140px);
  opacity: 0;
  transition: opacity 0.4s;
}

a{
  color: #c7e5ff;
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}