html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  cursor: default;
}
body{
  margin: 0;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
button{
  padding: 2px 3px;
  font-size: 14px;
  vertical-align: text-bottom;
  transition: all 0.2s;
}
button:not([disabled]){
  cursor: pointer;
}
input, select{
  border-radius: 0; /*bc iOS doesn't like me*/
  padding: 1px 2px;
  font-size: 14px;
  vertical-align: text-bottom;
  transition: all 0.2s;
}
option{
  line-height: 0;
  min-height: 1em;
}
.p_q{ /*Line up the input fields to look nicer*/
  display: inline-block;
  text-align: right;
  width: 240px;
}
.blk{
  display: block;
}
.halert{
  padding: 10px;
  margin-bottom: 4px;
}
.halert p{
  margin: 0;
}
.btn-close{
  float: right;
  cursor: pointer;
  color: #888;  
}
#i-toggleTheme{
  float: right; 
  color: #888;
  transition: color 0.2s;
}
#i-toggleTheme:hover{
  cursor: pointer;
}
#main-outer{
  padding: 20px 10px 10px;
}
#main{
  padding: 15px 20px;
  max-width: 800px;
  margin: auto;
}
#main h1{
  margin: 0;
  margin-bottom: 10px;
}
#header span{
  text-align: right;
}
#calc{
  padding: 5px 10px;
}
#calcRes, #calcErr{
  margin: 10px 0px;
  padding: 4px 8px;
  border-width: 1px;
  border-style: solid;
}
#footer{
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.ns, h1, #footer, #calc{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.material-icons{
  font-size: 24px;
  vertical-align: bottom;
}
.spin{
  animation: 2000ms anm_spin infinite linear;
}
@keyframes anm_spin{
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

/*Stuff part of calc box*/
#calc p{
  margin: 0;
  margin-bottom: 4px;
  line-height: 1.5;
}
#calc input{
  width: 80px;
}
#calc-loadErr{
  display: none;
}
.res_return{
  display: none;
}

.alertify .alert>*, .alertify .dialog>*{
  width: 600px; /*400px is way too small*/
}

/*Responsive design stuff*/
@media only screen and (max-width: 720px) {
  #main-outer{
    padding: 0;
  }
  #main{
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .p_q{
    display: inline;
    text-align: left;
  }
  .rln{ /*Responsive Line*/
    display: block;
  }
  input, select{
    font-size: 16px;
  }
  #calc input{
    width: 90px;
  }
  #calc p{
    margin-bottom: 15px;
  }
  .res_return{
    display: inline-block;
  }
}
